

<p>
  Download:
  <%= link_to "CSV", lognotes_path(format: "csv") %> |
  <%= link_to "Excel", lognotes_path(format: "xls") %>
</p>

<h1>lognotes</h1>
<table id="lognotes">
  <tr>
    <th>CaseID</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
<%= render @lognotes %>
</table>


<h2>Import lognotes</h2>
<%= form_tag import_lognotes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
