<script src="//cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<p>
  Download:
  <%= link_to "CSV", lognotes_path(format: "csv") %> |
  <%= link_to "Excel", lognotes_path(format: "xls") %>
</p>

<h1>lognotes</h1>

<table class="table table-boldered">
  <tr>
    <th>CaseID</th>
    <th>Title</th>
    <th>Description</th>
    <th>organization</th>
  </tr>
  <% @lognotes.each do |lognote| %>

  <tr>
      <td> <%= link_to(lognote.caseid, lognote_path(lognote)) %></td>
      <td><%= lognote.title %></td>
      <td><%= lognote.description %></td>
      <td><%= lognote.organization %></td>


  </tr>
  <% end %>
</table>






<h2>Import lognotes</h2>
<%= form_tag import_lognotes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

  <td>lognote.count(:caseid) => <%= Lognote.count(:caseid) %></td>
  <td>lognote.count(:resolved) => <%= Lognote.count(:resolved) %></td>

  <p>
    <%= @a = Lognote.find_by_sql("SELECT caseid FROM lognotes WHERE handled_by = 'david' ") %>
  </p>
  <p>
    <%= Lognote.find_by_sql("SELECT DISTINCT(handled_by) FROM lognotes ") %>
  </p>
  <p>
    <td>Lognote.find_by_sql("SELECT caseid FROM lognotes WHERE handled_by = 'david' ") =
     </td><%= @a.count %>
  </p>
</br>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Total", "david"],
        datasets: [{
            label: '# of Votes',
            data: [<%= Lognote.count(:caseid) %>, <%= @a.count %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</br>
<canvas id="myChart" width="400" height="200"></canvas>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: @lognote.all.map { |t| t.handled_by },
        datasets: [{
            label: '# of Votes',
            data: @lognote.all.map{ |t| t.handled_by.count },
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
