<script src="//cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<p>
  Download:
  <%= link_to "CSV", lognotes_path(format: "csv") %> |
  <%= link_to "Excel", lognotes_path(format: "xls") %>
</p>

<h1>lognotes</h1>(Total:<%= Lognote.count(:caseid)%>)

<div class="pull-right">
  <%= link_to("Add a lognote", new_lognote_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-boldered">
  <tr>
    <th>CaseID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Organization</th>
    <th>Resolved</th>
    <th>Handled_by</th>
  </tr>
  <% @lognotes.each do |lognote| %>

  <tr>
      <td> <%= link_to(lognote.caseid, lognote_path(lognote)) %></td>
      <td><%= lognote.title %></td>
      <td><%= lognote.description %></td>
      <td><%= lognote.organization %></td>
      <td>
        <% if lognote.be_resolved %>

          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

        <% else %>

          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      
        <% end %>
      </td>
      <td><%= lognote.handled_by %></td>

  </tr>
  <% end %>
</table>
<div class="text-center">
  <%= will_paginate @lognotes, render: BootstrapPagination::Rails %>
</div>
