<script src="//cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script>

<p>
  Download:
  <%= link_to "CSV", lognotes_path(format: "csv") %> |
  <%= link_to "Excel", lognotes_path(format: "xls") %>
</p>

<h1>lognotes</h1>
<div class="pull-right">
  <%= link_to("Add a lognote", new_lognote_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-boldered">
  <tr>
    <th>CaseID</th>
    <th>Title</th>
    <th>Description</th>
    <th>organization</th>
  </tr>
  <% @lognotes.each do |lognote| %>

  <tr>
      <td> <%= link_to(lognote.caseid, lognote_path(lognote)) %></td>
      <td><%= lognote.title %></td>
      <td><%= lognote.description %></td>
      <td><%= lognote.organization %></td>


  </tr>
  <% end %>
</table>
