

<%= simple_form_for [:admin,@lognote] do |f| %>

<%= f.input :caseid %>
<%= f.input :title %>

<%= f.label :product %></br>
  <% Lognote::PRODUCT.each do |product| %>
    <label class="btn btn-default <%= (product == f.object.product)? '' : '' %>">
      <%= f.radio_button :product, product %>
      <%= t(product, :scope => "lognote.product") %>
    </label>
  <% end %>
</br></br>


<%= f.input :description %>
<%= f.input :organization %>

<%= f.label :customertype %>
<%= f.select :customertype, Lognote::CUSTTYPE.map{
   |s| [t(s, :scope => "lognote.product"), s] }, {}, :class => "form-control" %>


<%= f.label :opco %>
<%= f.select :opco, Lognote::OPCO.map{
   |s| [t(s, :scope => "lognote.product"), s] }, {}, :class => "form-control" %>


<%= f.input :calldate %>

<%= f.label :handled_by %>
<%= f.select :handled_by, Lognote::HANDLEBY.map{
   |s| [t(s, :scope => "lognote.product"), s] }, {}, :class => "form-control" %>


<%= f.input :be_resolved %>


<%= f.label :source %>
<%= f.select :source, Lognote::SOURCE.map{
   |s| [t(s, :scope => "lognote.product"), s] }, {}, :class => "form-control" %>

<%= f.input :attachment %>
<div class="group">
  <%= f.input :image, as: :file %>
</div>
  <%= f.submit "Submit" %>
<% end %>
