<h2><%= Lognote.count(:caseid)%> logs in Total</h2>
<div class="pull-right">
  <%= link_to("Add a lognote", new_admin_lognote_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-boldered">
  <tr>
    <th>CaseID</th>
    <th>Title</th>

    <th>Organization</th>
    <th>Resolved</th>
    <th>Handled_by</th>
    <th>Options</th>
    <th>Creator</th>
    <th>Created_at</th>
  </tr>
  <% @lognotes.each do |lognote| %>
  <tr>
    <td>
      <%= link_to(lognote.caseid, admin_lognote_path(lognote)) %></td>
      <td><%= lognote.title %></td>

      <td><%= lognote.organization %></td>
      <td>
        <% if lognote.be_resolved %>

          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

        <% else %>

          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

        <% end %>
      </td>
      <td><%= lognote.handled_by %></td>

    <td>
      <%= link_to("Edit", edit_admin_lognote_path(lognote)) %>
      <%= link_to("Destroy", admin_lognote_path(lognote),
       :method => :delete, :data =>  {:confirm => "Are you sure?"} ) %>
    </td>
    <td><%= lognote.user.email %></td>
    <td>
      <%= lognote.created_at %>
    </td>
  </tr>
  <% end %>
</table>
<div class="text-center">
  <%= will_paginate @lognotes, render: BootstrapPagination::Rails %>
</div>
