<div class="pull-right">
  <% if current_user == @lognote.user %>

  <%= link_to("Edit", edit_admin_lognote_path(@lognote), :class => "btn btn-default" ) %>
  <% end %>
</div>
<h1>title: <%= @lognote.title %> </h1>

<p>description
  <%= simple_format(@lognote.description) %>
</p>
<p>organization<%= simple_format(@lognote.organization) %></p>
<p>customertype<%= simple_format(@lognote.customertype) %></p>
<p>opco<%= simple_format(@lognote.opco) %></p>
<p>calldate<%= @lognote.calldate %></p></p>
<p>handled_by<%= simple_format(@lognote.handled_by )%></p>
<p>resolved<%= @lognote.be_resolved %></p>
<p>source<%= simple_format(@lognote.source) %></p>
<p>attachment<%= simple_format(@lognote.attachment )%></p>
